.switch-field .switch {
  --switch-label-order: -1;
  --switch-text-color: var(--main-text-color);

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 300px;
}

.switch-field {
  padding: 1rem 0;
  margin: 0 1rem;
}
