.switch-field .switch {
  --switch-label-order: -1;
  --switch-text-color: var(--main-text-color);

  display: flex;
  flex-flow: row nowrap;
  padding: 0 1rem 1rem 1rem;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  padding: 1rem;
}
